aaa_base
aaa_elflibs
aaa_terminfo
bash
bin
binutils
bzip2
cmake
coreutils
curl
cyrus-sasl
dialog
diffutils
elvis
elogind
etc
expat
file
findutils
flex
gawk
gc
gcc
gcc-g++
gettext
glibc
glibc-profile
glibc-solibs
gnupg
grep
guile
gzip
icu4c
infozip
iproute2
kernel-headers
libarchive
libcgroup
libffi
libgcrypt
libgpg-error
libmpc
libunistring
libxml2
lz4
lzip
lzo
make
mpfr
ncurses
net-tools
nettle
openssl
patch
perl
pkgtools
procps-ng
python
rsync
sed
shadow
slackpkg
sqlite
sysfsutils
tar
time
tree
utempter
util-linux
vim
wget
which
xxhash
xz
zlib